/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/avatar/*
/public/img/*
!/public/avatar/default_avatar.PNG
!/public/img/forGit
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
