html, body{
    background-color: #ebebeb;
    width:100%;
    overflow-x:hidden;
}

/* Index Section */

/* .header-section{

} */

.header-top{
    background-color: black;
}

.header-top-left{
    margin-right: auto;
    display: table;
    font-size: 12px;
}

.header-top-right{
    margin-left: auto;
    display: table;
}

.header-title{
    background-color: white;
    text-align: center;
    font-size: 120px;
}

.header-title a{
    color: black;
}

.header-nav{
    background-color: white;
    margin-top: -20px;
    padding-top: 40px;
    padding-bottom: 3px;
}

.header-nav-content{
    margin-top: -15px;
    font-size: 13px;
}

.header-nav-content a{
    color: black;
}

.content-section{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-detail-title{
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}

.content-detail-subtitle{
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}

.content-entry{
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
}

.content-tags{
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
}

.content-tags a{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    color: black;
    background-color: gainsboro;
    font-weight: 600;
    font-size: 14px;
}

.content-tags a:hover{
    color: black;
    text-decoration: none;
}

.content-author-name{
    font-size: 25px;
    margin-left: 10px;
    font-weight: 700;
}

.content-author-desc{
    font-size: 14px;
    margin-left: 38px;
    margin-top: 14px;
}

.content-author-avatar{
    margin-left: auto;
    display: table;
    margin-right: 20px;
    margin-top: 10px;
}

.content-related-title{
    font-size: 25px;
    margin-left: 10px;
    font-weight: 700;
}

.content-related-list{
    margin-left: 38px;
    margin-right: 38px;
    margin-top: 20px;
}

.content-related-list a{
    color: black;
}

.content-related-list a:hover{
    text-decoration: none;
}

.footer-section{
    background-color: white;
    padding-top: 15px;
    padding-bottom: 30px;
    flex-shrink: 0;
}

.footer-left{
    margin-right: auto;
    display: table;
}

.footer-right{
    margin-left: auto;
    display: table;
}

.grid-item{
    padding: 10;
}

@media (max-width: 575.98px){
    .header-top-left{
        margin-left: auto;
    }
    
    .header-top-right{
        margin-right: auto;
    }

    .header-nav-content{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: table;
    }

    .content-author-avatar{
        margin-right: auto;
        margin-top: 10px;
    }

    .footer-left{
        margin-left: auto;
    }
    
    .footer-right{
        padding-top: 20px;
        margin-right: auto;
    }

    .grid-item{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .grid-item{
        width: 100%;
    }
}

@media (min-width: 991.98px) {
    .collapse.dont-collapse-xs {
        display: block;
        height: auto !important;
        visibility: visible;
    }
}

@media (min-width: 991.98px) {
    .header-top-right{
        padding-top: 2px;
        display: table;
    }

    .grid-item{
        width: 33.3%;
    }
}

.max-lines-3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
}


/* Dashboard Section */

.dashboard-header-section {
    background-color: black;
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    color: white;
}

.dashboard-header-toggler{
    visibility: hidden;
    margin-right: -40px;
}

.dahboard-sidebar {
    background-color: grey;
    margin-bottom: -5000px;
    padding-bottom: 5000px;
    overflow-x: hidden;
    color: white;
}

.dahboard-sidebar a{
    color: white;
}

.dahboard-sidebar a:hover{
    text-decoration: none;
}

.dahboard-sidebar hr{
    background-color: #cfcfcf;
}

.dashboard-content-section{
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dashboard-footer-section{
    background-color: white;
    padding-top: 15px;
    padding-bottom: 35px;
    flex-shrink: 0;
}

@media (max-width: 575.98px){
    .dashboard-header-toggler{
        visibility: visible;
        margin-right: 0;
    }

    .dahboard-sidebar{
        margin-bottom: 0;
        padding-bottom: 20px;
    }
}